body {
	background-color: #0E0C0C ;
	border-left: 10px dashed #ffff00 ;
	border-right: 10px dashed #ffff00 ;
	font-family: Menlo, monospace;
}

#header {
	color: #ff6700;
	background-color: #252525;
	padding-left: px;
	text-align: center;
	height: 10;
	width: 10;
}

#content {
	color: #ffffff;
	background-color: #141414 ;

}

#footer {
	color: #ff6700;
	background-color: #252525;
	text-align: right;
}
#main {
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;

}

#body {
	background-color:;
	margin: auto;
	padding: 10px 10px;
}

#navbar {
	text-align: center;
}

#nav {
	background-color: #;
	text-align: center;
	word-spacing: 20px;
	font-size: 20px ;
	a:link {color: #ff6700;}
	a:visited {color: #ff6700;}
	a:hover {color: #333333;}
	a:focus {color: #333333;}
	a:active {color: #fff;}
	font-style: Courier, monospace;
	color: #ffffff;
}

.selected {
	font-weight: Bold;
}

h2 {
	padding-left: 10px;
}

#container {
	background-color: #141414 ;
}

#contact {
		font-size: 20px ;
	a:link {color: #ff6700;}
	a:visited {color: #ff6700;}
	a:hover {color: #333333;}
	a:focus {color: #333333;}
	a:active {color: #fff;}
	font-style: Courier, monospace;
	padding-left: 20px;
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
}

#desktopimage {
	text-align: justify;
}

